/* Reset básico para garantir consistência entre os navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Estilo do contêiner do mapa */
#map {
  width: 100%;
  max-width: 800px;
  height: 3508px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* Adicionando um título */
h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #444;
}

/* Estilo do rodapé */
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

/* Estilo de links */
a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
